<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jacobbeatty.coursetracker">
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS"/>


    <application

        android:allowBackup="true"
        android:icon = "@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CourseTracker">
        <receiver
            android:name=".Utilities.BroadcastReceiver"
            android:enabled="true"
            android:exported="true"></receiver>
        <activity
            android:name=".Activities.HomeScreen"
            android:label="@string/app_name"
            android:theme="@style/Theme.CourseTracker.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MainActivity"
            android:theme="@style/Theme.CourseTracker.NoActionBar"/>
        <activity android:name=".Activities.CreateTerm" />
        <activity android:name=".Activities.TermDetail"/>
        <activity android:name=".Activities.CreateCourse"/>
        <activity android:name=".Activities.CourseDetail"/>
        <activity android:name=".Activities.AssessmentDetail"/>
        <activity android:name=".Activities.CreateAssessment"/>


    </application>

</manifest>